<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let u of users">
    <td>{{u.userId}}</td>
    <td>{{u.fname}}</td>
    <td>{{u.lname}}</td>
    <td>{{u.email}}</td>
    <td>{{u.username}}</td>
    <td>{{u.userRole}}</td>
    <td>
      <button routerLink="{{u.userId}}" class="btn btn-warning" id="{{u.userId}}">Details</button>
    </td>
  </tr>
</table>
