<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>

  <div *ngIf="!loggedIn">
    <form id="loginGroup" [formGroup]="loginGroup">
      <div>
        Please enter your credentials to login
      </div>
      <br>
      <div>
        Username
      </div>
      <div>
        <input type="text" formControlName="username" required>
      </div>
      <br>
      <div>
        Password
      </div>
      <div>
        <input type="password" formControlName="password" required>
      </div>
      <br>
      <button type="submit" form="submitForm" class="" (click)="onSubmit()">
        Login
      </button>
    </form>
  </div>
  <div>
      <table *ngIf="isUserLoggedIn">
          <tr>
              <td>
                  <a href="#" (click)="logoutClicked($event)" id="logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a><br
              /></td>
          </tr>
      </table>
  
      <table *ngIf="! isUserLoggedIn">
          <tr>
              <td>
                  <a [routerLink]="['/login']" id="login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a><br
              /></td>
          </tr>
      </table>
  </div>