

<div class="container">
  <div class="title"><h1>Login</h1></div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <form id="loginGroup" [formGroup]="loginGroup">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" formControlName="username" class="form-control" id="inputUsername" required>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" formControlName="password" class="form-control" id="inputPassword" required>
        </div>

        <button type="submit" id="login" class="btn btn-primary" (click)="onSubmit()">Log in</button>
        <button type="button" id="register" class="btn btn-primary" routerLink ="register">Register</button>
      </form>
    </div>

    <div class="col-md-6">
      <p>image here</p>
    </div>

  </div>
</div>
