<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>

  <div *ngIf="!loggedIn">
    <form id="loginGroup" [formGroup]="loginGroup">
      <div>
        Please enter your credentials to login
      </div>
      <br>
      <div>
        Username
      </div>
      <div>
        <input type="text" formControlName="username" required>
      </div>
      <br>
      <div>
        Password
      </div>
      <div>
        <input type="password" formControlName="password" required>
      </div>
      <br>
      <button type="submit" form="submitForm" class="" (click)="onSubmit()">
        Login
      </button>
    </form>
  </div>

  <div>
      <table *ngIf="loggedIn">
          <tr>
              <td>
                  <a href="#" (click)="logoutClicked($event)" id="logoutGroup"><span class="log-out" aria-hidden="true"></span></a>
                  <br>
              /></td>
          </tr>
      </table>
  
      <table *ngIf="! loggedIn">
          <tr>
              <td>
                  <a [routerLink]="['/login']" id="login"><span class="log-in" aria-hidden="true"></span></a><br>
              /></td>
          </tr>
      </table>
  </div>