<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class ="container">
        <div class ="row">
            <div class ="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <ul class="navbar-nav mr-auto">
                    <button class="home" > <a routerLink="home">HOME</a></button>
                    <button class="login" ><a routerLink ="login">LOGIN</a></button>
                    <button class="register" ><a routerLink="register">REGISTER</a></button>
                    <button class="products" ><a routerLink="product">VIEW PRODUCTS</a></button>
                    <button class="ManageUsers" ><a routerLink="manageuser">MANAGE USERS</a></button>
                    <button class="Cart" ><a routerLink="#">CART</a></button>
                    <a href="#" (click)="logoutClicked($event)" id="logoutGroup"><span class="log-out" aria-hidden="true"></span>LOGOUT</a>        
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        </div>
    </div>