<div class="container">



  <div class="row">
    <div class="col-md-6"><img src="imgur.com/a/RHt2DhJ" alt="bike shop image"></div>
    <div class="col-md-6"> <p>GMAT Bike Shop is the premier destinations for all your cycling needs. Offering a wide selection of bicycles and accesories, if there's a need
      to be met, GMAT will surely fill it.
      Established in 1945 by a group of entrepreneurial oil barrens, GMAT is built on the foundations of community, hard work, and forward thinking. </p></div>
  </div>

  </div>
